<body>
  <div class='vl'>
    <div class='container-fluid'>
      <h5>Filters:</h5>
      <dl>
        <dt>
          <u>Memory Size</u>
        </dt>
        <dd>
          <input name='ms' type="radio" (click)='ms(2);'>&nbsp;Up to 2 GB</dd>
        <dd>
          <input name='ms' type="radio" (click)='ms(3);'>&nbsp;3 GB</dd>
        <dd>
          <input name='ms' type="radio" (click)='ms(4);'>&nbsp;4 GB</dd>
        <dd>
          <input name='ms' type="radio" (click)='ms(6);'>&nbsp;6 GB</dd>
        <dd>
          <input name='ms' type="radio" (click)='ms(8);'>&nbsp;8 GB</dd>
        <dd>
          <input name='ms' type="radio" (click)='ms(12);'>&nbsp;12 GB</dd>
        <dd>
          <input name='ms' type="radio" (click)='ms(16);'>&nbsp;16 GB &amp; more</dd>
      </dl>
      <hr>
      <dl>
        <dt>
          <u>Operating System</u>
        </dt>
        <dd>
          <input name='os' type="radio" >&nbsp;Windows 10</dd>
        <dd>
          <input name='os' type="radio">&nbsp;DOS</dd>
        <dd>
          <input name='os' type="radio">&nbsp;Linux</dd>
        <dd>
          <input name='os' type="radio">&nbsp;Mac OS</dd>
        <dd>
          <input name='os' type="radio">&nbsp;Windows 8.1</dd>
        <dd>
          <input name='os' type="radio">&nbsp;Windows 8</dd>
      </dl>
      <hr>
      <dl>
        <dt>
          <u>HDD Size</u>
        </dt>
        <dd>
          <input name='hs' type="radio">&nbsp;Up to 159 GB</dd>
        <dd>
          <input name='hs' type="radio">&nbsp;160 - 249 GB</dd>
        <dd>
          <input name='hs' type="radio">&nbsp;250 - 499 GB</dd>
        <dd>
          <input name='hs' type="radio">&nbsp;500 - 999 GB</dd>
        <dd>
          <input name='hs' type="radio">&nbsp;1TB &amp; More</dd>
      </dl>
      <hr>
      <dl>
        <dt>
          <u>Price</u>
        </dt>
        <dd>
          <input name='p' type="radio"> &nbsp;Under ₹20,000</dd>
        <dd>
          <input name='p' type="radio">&nbsp;₹20,000 – ₹30,000</dd>
        <dd>
          <input name='p' type="radio">&nbsp;₹30,000 – ₹40,000</dd>
        <dd>
          <input name='p' type="radio">&nbsp;₹40,000 – ₹50,000</dd>
        <dd>
          <input name='p' type="radio">&nbsp;Over ₹50,000</dd>
      </dl>
      <hr>
      <!-- <dl>
        <dt>
          <u>Avg. Customer Review </u>&nbsp;&nbsp;&nbsp;&nbsp; </dt>
        <dd>
          <input name='acr' type="radio">&nbsp;4 Stars &amp; Up</dd>
        <dd>
          <input name='acr' type="radio">&nbsp;3 Stars &amp; Up</dd>
        <dd>
          <input name='acr' type="radio">&nbsp;2 Stars &amp; Up</dd>
        <dd>
          <input name='acr' type="radio">&nbsp;1 Star &amp; Up</dd>
      </dl> -->
    </div>
  </div>
</body>
